.filters-panel {
    position: absolute;
    padding: 15px;
    border-radius: 8px;
    min-width: 250px;
    z-index: 100;

    background: #F5F7FA;
    color: #353535;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.dark-theme .filters-panel {
    background: #2a2a2a;
    color: #EAEAEA;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.25);
}

@media screen and (min-width: 1490px) {
    .filters-panel {
        left: 100%;
        top: 0;
    }
}

@media screen and (max-width: 1489px) and (min-width: 1090px) {
    .filters-panel {
        top: 100%;
        right: 0;
    }
}

@import url("./filters-list/filters-list.css");
@import url("./clear-filters-btn/clear-filters-btn.css");
@import url("./search-container/search-container.css");
