.add-employee-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

@import url("./close-btn/close-btn.css");
@import url("./form-group/form-group.css");
@import url("./schedule-row/schedule-row.css");
@import url("./popup-actions/popup-actions.css");
