.add-employee-popup {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 90vh;
    overflow-y: auto;
    position: relative;
}

.dark-theme .add-employee-popup {
    background: #2a2a2a;
    color: white;
}

@import url("./schedule-row/schedule-row.css");
@import url("./popup-actions/popup-actions.css");
