.delete-popup {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 500px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    position: relative;

    background: #F5F7FA;
}

.dark-theme .delete-popup {
    background: #2a2a2a;
    color: #EAEAEA;
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.25);
}

@import url("./employees-list/employees-list.css");
@import url("./danger-btn/danger-btn.css");
