@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@import url("../block/loader/loader.css");
@import url("../block/preloader/preloader.css");
@import url("../block/page/page.css");
@import url("../block/dark-theme/dark-theme.css");
@import url("../block/header/header.css");
@import url("../block/footer-index/footer-index.css");

.login-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.login-content input {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
}

.login-content .error {
    color: red;
    margin-bottom: 10px;
}


.header-index {
    padding: 2vh 0.25vw;
    position: relative;
    z-index: 10;
}

/*.screenshot {*/
/*    margin-top: 20px;*/
/*}*/
/*.screenshot img {*/
/*    max-width: 100%;*/
/*    border-radius: 8px;*/
/*    box-shadow: 0 2px 5px rgba(0,0,0,0.1);*/
/*}*/
/*.screenshot p {*/
/*    font-style: italic;*/
/*    color: #666;*/
/*    margin-top: 5px;*/
/*}*/
