@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url("../block/loader/loader.css");
@import url("../block/preloader/preloader.css");
@import url("../block/page/page.css");
@import url("../block/dark-theme/dark-theme.css");
@import url("../block/header/header.css");
@import url("../block/subtitle/subtitle.css");

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}
