.header__up-blocks__wrapper_menu {
    visibility: hidden;
    display: none;
}

@media screen and (max-width: 1089px) {
    .header__up-blocks__wrapper_menu {
        display: flex;
        align-items: center;
        visibility: visible;
        position: absolute;
        left: 0;
        margin-left: 2vw;
    }
}

@import url("./__list/header__up-blocks__wrapper_menu__list.css");
