@media screen and (min-width: 1490px) {
    .filters-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 10px;
        margin: 10px 0;
        max-height: 300px;
        overflow: auto;
    }
    
    /* Адаптация списка фильтров */
    /*
    .filters-list {
        max-height: 300px;
        overflow-y: auto;
        margin: 10px 0;
        padding-right: 5px;
    }
    */
}

@media screen and (max-width: 1489px) and (min-width: 1090px) {
    .filters-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        gap: 10px;
        margin: 15px 0;
        margin: 10px 0;
        padding-right: 5px;
        overflow: auto;
        max-height: 300px;
    }
    

    /* Адаптация списка фильтров */
    /*
    .filters-list {
        max-height: 300px;
        overflow-y: auto;
        margin: 10px 0;
        padding-right: 5px;
    }
    */
}

@import url("./filter-item/filter-item.css");
