@media screen and (min-width: 1090px) {
    .filters-list {
        display: grid;
        grid-template-rows: 1fr;
        gap: 10px;
        margin: 10px 0;
        max-height: 30vh;
        overflow: auto;
    }
}

@import url("./filter-item/filter-item.css");
