.worksheet__row__header__cell {
    font-size: 1.2em;
    text-align: center; 
    min-height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    
    box-shadow: 5px 5px 5px rgba(171, 200, 255, 0.9);
    background: #C5C1E8;
}

.dark-theme .worksheet__row__header__cell {
    box-shadow: 5px 5px 5px rgba(171, 200, 255, 0.75);
    background: #413A79;
}

@import url("./_clock/worksheet__row__header__cell_clock.css");
