@media screen and (min-width: 1490px) {
    .btn_worksheet_enable {
        position: relative;
        transform: translateX(1vw);
        /*transition: background-color 0.3s ease;*/
    }

    .btn_worksheet_enable::after {
        content: '';
        position: absolute;
        right: -0.9rem;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);

        /* Адаптивные размеры треугольника */
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 calc(0.8 * 3rem) calc(0.8 * 3rem); /* Пропорционально шрифту кнопки */
        border-color: transparent #98ED9B transparent;
    }

    .btn_worksheet_enable:hover::after {
        border-color: transparent #a3ffa6 transparent;
    }

    .dark-theme .btn_worksheet_enable::after {
        border-color: transparent #377939 transparent;
    }

    .dark-theme .btn_worksheet_enable:hover::after {
        border-color: transparent #469a48 transparent;
    }
}
