.schedule-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.schedule-row label {
    min-width: 100px;
}

.dark-theme .schedule-row input[type="time"] {
    background: #414141;
    color: #EAEAEA;
    border: 1px solid #555;
}
