@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.page {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background: #F5F7FA;
    color: #353535;
}

.dark-theme {
    background: #1E1E1E;
    color: #EAEAEA;
}

.header {
    display: flex;
    align-items: center;
    background: #737373;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    height: 100px;
    justify-content: space-between;
}

.header__title {
    padding: 1rem 2vw;
    font-weight: 500;
}

.header__menu-toggle,
.header__up-blocks__headbar,
.header__up-blocks__wrapper__list {
    visibility: hidden;
    display: none;
}

.header__up-blocks {
    position: absolute;
    right: 0;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__up-blocks__theme-toggle {
    background: url("../images/day.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

.dark-theme .header__up-blocks__theme-toggle {
    background: url("../images/night.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

.header__up-blocks__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.header__up-blocks__wrapper__icon {
    background: url("../images/account.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.header__up-blocks__wrapper__list {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    background: white;
    color: black;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header__up-blocks__wrapper:hover .header__up-blocks__wrapper__list {
    visibility: visible;
    display: block;
}

/* .header__title_mobile {
    visibility: hidden;
    display: none;
} */


.subtitle {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.subtitle__title {
    padding: 0 1rem;
}

.subtitle__date {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0 1vw;
    background: #DAD5FF;
    gap: 0.5rem;
    border-radius: 20%;
}

.subtitle__date__btn {
    width: 40px;
    height: 32px;
    border-radius: 25%;
    border: none;
    background: #ACB3FF;
    color: #F3FFD7;
    font-size: 28px;
    text-
}
