.footer__btn {
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    border: none;
    font-size: 30px;
    transition: background-color 0.3s ease;

    color: #353535;
    background: #F5F7FA;
}

.footer__btn:active {
    color: #171717;
    background: #c3c4cc;
}

.dark-theme .footer__btn {
    color: #EAEAEA;
    background: #1E1E1E;
}

.dark-theme .footer__btn:active {
    color: #fff6f6;
    background: #3a3a3a;
}
