@media screen and (max-width: 869px) {
    .header__up-blocks__menu-toggle {
        display: flex;
        text-align: center;
        justify-content: center;
        user-select: none;
        width: 3rem;
        height: 3rem;
        border: none;
        font-size: 2rem;
        border-radius: 5px;
        font-weight: bold;
        color: #E3FFA1;
        background-color: #353535;
    }
}