.hide_content {
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    pointer-events: none;
}

.content  {
    display: flex;
    flex: 1;
    background: none;
    transition: opacity 0.25s ease-out;
}

@media screen and (max-width: 869px) {
    .content  {
        margin-top: 20px;
    }
}

@import url("./worksheet/worksheet.css");
