@import url("./employees-header-text/employees-header-text.css");
@import url("./add-employee-btn/add-employee-btn.css");

.employees-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
