@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    font-family: 'Inter', sans-serif;
    background: #F5F7FA;
    color: #353535;
}

.dark-theme {
    background: #1E1E1E;
    color: #EAEAEA;
}

.header {
    display: flex;
    align-items: center;
    background: #737373;
    border-radius: 0 0 10px 10px;
    color: #FFFFFF;
    height: 100px;
    justify-content: space-between;
}

.header__title {
    padding: 1rem 2vw;
    font-weight: 500;
}

.header__menu-toggle,
.header__up-blocks__headbar,
.header__up-blocks__wrapper__list {
    visibility: hidden;
    display: none;
}

.header__up-blocks {
    position: absolute;
    right: 0;
    margin-right: 1vw;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__up-blocks__theme-toggle {
    background: url("../images/day.png");
    background-size: contain;
    background-repeat: no-repeat;
    
    width: 2.5rem;
    height: 2.5rem;
    border: none;
}

.dark-theme .header__up-blocks__theme-toggle {
    background: url("../images/night.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.header__up-blocks__wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.header__up-blocks__wrapper__icon {
    background: url("../images/account.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.header__up-blocks__wrapper__list {
    visibility: hidden;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 2vh 2vw;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    justify-content: center;
    z-index: 9999;
    
    background: #E3E7ED;
    color: #353535;
}

.dark-theme .header__up-blocks__wrapper__list {
    background: #252525;
}

.header__up-blocks__wrapper__list__btn {
    padding: 3vh 2vw;
    text-align: center;
    border-radius: 10px;
    flex: 1;
    white-space: nowrap;
    font-size: 1.25em;
    
    background: #98ED9B;
    color: #353535;
}

.dark-theme .header__up-blocks__wrapper__list__btn {
    background: #377939;
    color: #EAEAEA;
}

.header__up-blocks__wrapper:hover .header__up-blocks__wrapper__list {
    visibility: visible;
    display: flex;
    flex-wrap: wrap;
    gap: 0.75vh;
}

/* .mobile {
    visibility: hidden;
    display: none;
} */

/* --------------------------------------------- */

.subtitle {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
}

.subtitle__title {
    padding: 0 1rem;
}

.subtitle__date {
    display: flex;
    align-items: center;
    height: 32px;
    margin: 0 1vw;
    gap: 0.5rem;
    border-radius: 20%;
    
    background: #DAD5FF;
}

.dark-theme .subtitle__date {
    background: #3E3E3E;
}

.subtitle__date__btn {
    width: 40px;
    height: 32px;
    border-radius: 25%;
    border: none;
    font-size: 28px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    background: #ACB3FF;
    color: #F3FFD7;
}

.dark-theme .subtitle__date__btn {
    background: #30378B;
    color: #EAEAEA;
}

.subtitle__date__place_text {
    font-size: 14pt;
    font-weight: bold;
}

/* ------------------------------------------- */

.main {
    display: flex;
    height: calc(100vh - 185px - 2rem);
    margin: 0 0.75vw 3vh 1vw;
    gap: 15px;
    /* border: 3px solid black; */
}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1vw;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    align-self: flex-start;
    
    background: #E3E7ED;
}

.sidebar__btn {
    padding: 2vh 3vw;
    text-align: center;
    border-radius: 10px;
    border: none;
    white-space: nowrap;
    font-size: 1.25em;
    
    background: #98ED9B;
    color: #353535;
}

.dark-theme .sidebar {
    background: #252525;
}

.dark-theme .sidebar__btn {
    background: #377939;
    color: #EAEAEA;
}


.name-cell {
    visibility: hidden;
    display: none;
}

.worksheet__row_mobile {
    display: none;
}


.content  {
    display: flex;
    flex: 1;
    background: none;
}

.worksheet  {
    display: grid;
    padding: 1.5vh 1vw 20px 1vw;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    align-self: flex-start;
    grid-template-columns: repeat(9, 1fr);
    gap: 5px;
    
    background: #E3E7ED;
}

.dark-theme .worksheet {
    background: #252525;
}

.worksheet__row__header {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 5px;
}

.worksheet__row__header__cell {
    font-size: 1.2em;
    /* font-weight: bold;
    text-transform: uppercase; */
    flex: 1;
    text-align: center; 
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    align-content: center;
    
    box-shadow: 5px 5px 10px rgba(171, 200, 255, 0.9);
    background: #C5C1E8;
}

.dark-theme .worksheet__row__header__cell {
    background: #413A79;
    box-shadow: 5px 5px 10px rgba(0, 91, 55, 0.75);
}

.worksheet__row__header__cell_clock {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 5px;
    
    box-shadow: 5px 5px 10px rgba(171, 200, 255, 0.9);
    background: #C5C1E8;
}

.dark-theme .worksheet__row__header__cell_clock {
    background: #413A79;
    box-shadow: 5px 5px 10px rgba(0, 91, 55, 0.75);
}

.cell_clock_img {
    background: url("../images/time.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
}

.dark-theme .cell_clock_img {
    background: url("../images/timeN.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.current {
    background: #F7FF00;
    margin: -1vh -1vw;
    padding: 1vh 1vw;
}

.dark-theme .current {
    background: #A4AA01;
}

.worksheet__row {
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 5px;
}

.worksheet__cell {
    flex: 1;
    text-align: center; 
    align-content: center;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    
    box-shadow: 5px 5px 10px rgba(171, 200, 255, 0.9);
    background: #C5C1E8;
}

.dark-theme .worksheet__cell {
    background: #413A79;
    box-shadow: 5px 5px 10px rgba(0, 91, 55, 0.75);
}

.worksheet__cell_clock {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    border-radius: 5px;
    text-align: center; 
    align-content: center;
    
    box-shadow: 5px 5px 10px rgba(171, 200, 255, 0.9);
    background: #C5C1E8;
}

.dark-theme .worksheet__cell_clock {
    background: #413A79;
    box-shadow: 5px 5px 10px rgba(0, 91, 55, 0.75);
}

/* -------------------------------------- */

.footer {
    display: flex;
    position: absolute;
    align-items: center;
    justify-items: center;
    right: 0;
    bottom: 0;
    margin: 5px;
}

.footer__place {
    display: flex;
    align-content: center;
    height: 20px;
    margin: 0 0.5px;
    padding: 3px;
    border-radius: 5px;
    
    background: #F2F2F2;
    border: 1px solid #353535;
}

.dark-theme .footer__place {
    background: #282828;
    border: 1px solid #EAEAEA;
}

.footer__btn {
    width: 34px;
    height: 34px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 25%;
    border: none;
    font-size: 30px;
    
    color: #353535;
    background: #F5F7FA;
}

.dark-theme .footer__btn {
    color: #EAEAEA;
    background: #1E1E1E;
}
